<!DOCTYPE html>
<html>
  <head>
  <title>index.html</title>
  </head>
  
  <body>
    <h1>Welcome!</h1>
    
    <form action="">
     First name:<br>
     <input type="text" name="firstname" value="John">
    </form>
    
    <form action="/greet" method="POST">
      <label for="user_name">Name:</label>
      <p>
        <input type="text" name="user_name" id="user_name" />
      </p>
      <input type="submit" value="Submit" />
  </body>

</html>
