<!DOCTYPE html>
<html>
  <head>
  <title>index.html</title>
  </head>
  
  <body>
    <h1>Welcome!</h1>
    
     <form action="/greet" method="POST">
       First name:<br>
     <input type="text" name="user_name" id="user_name" />
    </form>
    
    
      <label for="user_name">Name:</label>
      <p>
        
      </p>
      <input type="submit" value="Submit" />
  </body>

</html>
